<div class="main_form">
  <div class="main">
    <div class="inner">
      <%= form_for @user do |f| %>
        <div class="user__wrapper">
          <div class='users_form_edit'>
            <div class="user-forms_edit">
              <div class='user_image_edit'>
                <div class="users_image", id="image-lists"></div>
                <label for="user_images"></label>
                <div id="image-list"></div>
                <label for="user_post_image"><%= image_tag "photo.jpg", class: "image" %></label>
                 <%= f.attachment_field :user_image, class: "users_image" %>
                </div>
              </div>
              <div class="user_texts">
                <div class="user_name_edit">
                  <%= f.text_field :name, autofocus: true%>
                </div>
                <div class="user_profiles_edit">
                  <%= f.text_field :profile, class: "profile_edit"%>
                </div>
              
                <div class='actions'>
                  <%= f.submit "Update", class: 'btn'%>
                </div>
              </div> 
            </div>  
          </div> 
        </div>
      <% end %>
    </div>
  </div>
</div>
