
    <div class="card">
      <div class="card__body">
       <%= attachment_image_tag post, :post_image, class: :card_img  %>
        </div>
          <%= link_to post.text, post_path(post.id), method: :get, class: :card__title%>
       </div> 
     </div>

   

        <%# 以下を追記 %>
        <% if current_user.liked_by?(post.id) %>
          <td>いいねを外す</td>
        <% else %>
          <td>いいね</td>
        <% end %>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      