<main class="main"><%= link_to image_tag("andreas-kruck-l8ypMiU1Hio-unsplash.jpg", class: :logo), root_path %>
    <div class="inner">
      <div class="post-contents">
        <div>
          <% @posts.each do |post| %>
            <div class="post-content">
              <div class="post_body">
                <div class='image_content'>
                  <%= link_to attachment_image_tag(post, :post_image, class: "post_image"),post_path(post.id)%>
                </div>
              </div>
              <div class="text_form">
                  <%= link_to post.text, post_path(post.id), method: :get, class: :card__title%>
                <div class="like", id="post_<%= post.id %>">
                    <%= render 'post', post: post %>
                </div>
              </div>
            </div> 
          <% end %>
        </div>
      </div>
   </div>
</div>

