<!DOCTYPE html>
<html>
  <head>
    <title>Photolab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <a><%= link_to "PHOTOBOX", root_path,  class: :logo %></a>
      <div class="nav_botton">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %></li>
          <li><%= link_to "New Proto",  new_post_path, class: :nav__btn %></li>
           <li>    <%= link_to current_user.name, user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: :nav__btn %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: :nav__btn %></li>
        <% end %>
       </div>
      </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
